# 1. Simulate the data

This notebook contains the code to simulate the data for the experiments.

In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
config = json.load(open('settings.json'))
N_responses = config['N_responses']
N_raters = config['N_raters']
N_systems = config['N_systems']

In [5]:
### We first simulate a set 

np.random.seed(100)
true_scores = np.random.normal(0, 1, N_responses)
df = pd.DataFrame({'id': ['id_{}'.format(i) for i in range(N_responses)],
                  'true': true_scores})
raters = []

for i in range(0, N_raters):
    error = np.random.choice([0.1, 0.5, 1])
    rater_error = np.random.normal(0, error, N_responses)
    df['h_{}'.format(i+1)] = np.round(true_scores+rater_error)
    df_rater = pd.DataFrame({'rater_id': ['h_{}'.format(i+1)],
                            'error': error})
    raters.append(df_rater)

df_raters = pd.concat(raters)

systems = []

for j in range(0, N_systems):
    error = np.random.choice([0.1, 0.5, 1])
    system_error = np.random.normal(0, error, N_responses)
    df['sys_{}'.format(j+1)] = true_scores+system_error
    df_rater = pd.DataFrame({'system_id': ['sys_{}'.format(j+1)],
                            'error': error})
    systems.append(df_rater)

df_systems = pd.concat(systems)

In [6]:
df.head()

,id,true,h_1,h_2,h_3,h_4,h_5,h_6,h_7,h_8,...,sys_1,sys_2,sys_3,sys_4,sys_5,sys_6,sys_7,sys_8,sys_9,sys_10
0,id_0,-1.749765,-1.0,-2.0,-2.0,-2.0,-2.0,-2.0,-3.0,-1.0,...,-1.845671,-1.355342,-1.781606,-1.237865,-1.564872,-0.475451,-1.531576,-1.577487,-2.751653,-1.890127
1,id_1,0.342680,0.0,1.0,0.0,0.0,-3.0,0.0,1.0,1.0,...,-0.238998,1.127690,-0.607848,0.121620,0.945418,0.559693,0.657527,0.459860,0.886873,0.163831
2,id_2,1.153036,1.0,1.0,1.0,1.0,1.0,1.0,4.0,2.0,...,0.313313,0.355428,1.299889,1.470463,1.716092,1.039026,1.833835,1.060064,0.664251,1.151515
3,id_3,-0.252436,-1.0,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,0.0,...,0.246030,0.135341,-0.342476,-0.099683,-0.748555,-0.904269,-0.435644,-0.387311,-0.258589,-0.347580
4,id_4,0.981321,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.408384,0.565534,1.818697,1.041118,1.073892,-0.448125,1.220396,0.996908,0.803930,0.939818

In [50]:
df.to_csv('../data/data.csv', index=False)
df_raters.to_csv('../data/raters.csv', index=False)
df_systems.to_csv('../data/systems.csv', index=False)